
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormularioNuevo</title>
</head>
<body>
    <div> 
        <form method="GET" action="/Producto/Insertar">
            <table>

                <tr>
                    <td>Referencia</td>
                    <td><input type="text" name="Referencia" /></td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td><input type="text" name="Precio" /></td>
                </tr>               
                <tr>
                    <td colspan="2"><input type="submit" value="Guardar" /></td>
                </tr>

            </table>

        </form>
    </div>
</body>
</html>
